.page {
    background-color: #1c242b;
}

.title {
    font-family: Inter, sans-serif;
    margin-bottom: 30px;
}

.items {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contactUs {
    margin-top: 30px;
}

.contactUs > a {
    color: var(--mary-blue);
}